<div id="page-wrapper">
  <div class="wrapper">
     <div class="inner">
        <header id="header">
           <a href="javascript:window._pxOpen('index.html');" class="logo">Altitude <span>by Pixelarity</span></a>
           <nav>
              <ul>
                 <li><a href="#menu">Menu</a></li>
              </ul>
           </nav>
        </header>
        <section id="banner">
           <div class="items">
              <section class="accent2">
                 <h1>DEZIGN NEST</h1>
                 <p>Drop Your Plan and Get A Quote.</p>
                 <ul class="actions special">
                    <li><a class="button primary" style="cursor: pointer;" (click)="uploadPlan()">Get a Quote</a></li>
                 </ul>
              </section>
              <section class="accent3">
                 <h1>Amet magna</h1>
                 <p>Fusce lancinia ipsum feugiat dolor sed matis tempus sed nullam</p>
                 <ul class="actions special">
                    <li><a class="button primary" style="cursor: pointer;">More</a></li>
                 </ul>
              </section>
           </div>
           <div class="slider">
              <article class=""><img src="../assets/images/image.jpg" alt="" data-position="bottom right"></article>
              <article class=""><img src="../assets/images/image2.jpg" alt="" data-position="bottom right"></article>
              <article class="visible top"><img src="../assets/images/image3.jpg" alt="" data-position="top left"></article>
           </div>
        </section>
     </div>
  </div>
  <div class="wrapper">
     <div class="inner">
        <section class="main">
           <header class="major">
              <h2>Lorem ipsum dolor</h2>
              <p>Sed egestas adipiscing</p>
           </header>
           <div class="features">
              <section>
                 <span class="icon solid fa-camera major accent2"></span>
                 <h3>Ultrices aliquam</h3>
                 <p>Lorem ipsum dolor sit amet nullam feugiat tempus</p>
              </section>
              <section>
                 <span class="icon solid fa-paper-plane major accent3"></span>
                 <h3>Lorem sed nullam</h3>
                 <p>Lorem ipsum dolor sit amet nullam feugiat tempus</p>
              </section>
              <section>
                 <span class="icon solid fa-envelope major accent4"></span>
                 <h3>Aliquam feugiat</h3>
                 <p>Lorem ipsum dolor sit amet nullam feugiat tempus</p>
              </section>
           </div>
        </section>
        <section class="carousel accent4">
           <article class="visible" style="">
              <div class="image"><img src="images/pic04.jpg" alt="" data-position="center"></div>
              <div class="content">
                 <h3>Magna tempus</h3>
                 <p>Adipiscing ullamcorper semper ut amet ac risus. Lorem sapien ut odio odio nunc. Ac adipiscing nibh porttitor erat risus justo adipiscing adipiscing amet placerat.</p>
              </div>
           </article>
           <article style="display: none;">
              <div class="image"><img src="images/pic05.jpg" alt="" data-position="center"></div>
              <div class="content">
                 <h3>Consequat ipsum</h3>
                 <p>Sapien a lorem in integer ornare praesent commodo adipiscing arcu in massa commodo lorem accumsan at odio massa ac ac. Semper adipiscing varius accumsan.</p>
              </div>
           </article>
           <article style="display: none;">
              <div class="image"><img src="images/pic06.jpg" alt="" data-position="center"></div>
              <div class="content">
                 <h3>Magna tempus</h3>
                 <p>Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan lorem ipsum dolor sit amet nullam aliquam.</p>
              </div>
           </article>
           <nav><a class="previous" style="cursor: pointer;"><span class="label">Previous</span></a><a class="next" style="cursor: pointer;"><span class="label">Next</span></a></nav>
        </section>
        <section class="main">
           <header class="major">
              <h2>Sed tempus aliquam</h2>
              <p>Lorem ipsum dolor sit amet</p>
           </header>
           <div class="spotlights">
              <article>
                 <div class="image"><img src="images/pic07.jpg" alt="" data-position="center"></div>
                 <div class="content">
                    <h3>Aliquam</h3>
                    <p>Morbi in sem quis dui placerat ellentesque odio nisi euismod in haretra a, ultricies in, diam ed rcuc consequat lorem ipsum dolor.</p>
                    <ul class="actions special">
                       <li><a class="button primary" style="cursor: pointer;">More</a></li>
                    </ul>
                 </div>
              </article>
              <article>
                 <div class="image"><img src="images/pic08.jpg" alt="" data-position="center"></div>
                 <div class="content">
                    <h3>Pellentesque fermentum</h3>
                    <p>Eed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum lorem ipsum blandid sti amet velvelit.</p>
                    <ul class="actions special">
                       <li><a class="button primary" style="cursor: pointer;">More</a></li>
                    </ul>
                 </div>
              </article>
           </div>
        </section>
     </div>
  </div>
  <div class="wrapper">
     <div class="inner">
        <section class="main accent2">
           <header class="major">
              <h2>Get notified</h2>
              <p>Lorem ipsum dolor sit amet nullam feugiat tempus</p>
           </header>
           <form method="post" action="#" class="combined"><input type="email" name="email" id="email" placeholder="Email address" class="invert"><input type="submit" class="primary" value="Sign Up"></form>
        </section>
        <footer id="footer">
           <section class="links">
              <div>
                 <h3>Magna</h3>
                 <ul class="plain">
                    <li><a style="cursor: pointer;">Aliquam tempus</a></li>
                    <li><a style="cursor: pointer;">Ultrecies nul</a></li>
                    <li><a style="cursor: pointer;">Gravida ultricies</a></li>
                    <li><a style="cursor: pointer;">Commodo etiam</a></li>
                 </ul>
              </div>
              <div>
                 <h3>Feugiat</h3>
                 <ul class="plain">
                    <li><a style="cursor: pointer;">Morbi sem lorem</a></li>
                    <li><a style="cursor: pointer;">Praes sed dapi</a></li>
                    <li><a style="cursor: pointer;">Sed adipis nullam</a></li>
                    <li><a style="cursor: pointer;">Fus dolor lacinia</a></li>
                 </ul>
              </div>
              <div>
                 <h3>Tempus</h3>
                 <ul class="plain">
                    <li><a style="cursor: pointer;">Donecnec etiam</a></li>
                    <li><a style="cursor: pointer;">Aapibus sedun</a></li>
                    <li><a style="cursor: pointer;">Namnulla tempus</a></li>
                    <li><a style="cursor: pointer;">Morbi set amet</a></li>
                 </ul>
              </div>
              <div>
                 <h3>Aliquam</h3>
                 <ul class="plain">
                    <li><a style="cursor: pointer;">Lorem prasent dia</a></li>
                    <li><a style="cursor: pointer;">Nellentes ipsum</a></li>
                    <li><a style="cursor: pointer;">Diamsed arcu dolor</a></li>
                    <li><a style="cursor: pointer;">Sit amet cursus</a></li>
                 </ul>
              </div>
           </section>
           <ul class="contact-icons">
              <li class="icon solid fa-home">1234 Fictional Street #5432 Nashville, TN 00000-0000</li>
              <li class="icon solid fa-phone"><a style="cursor: pointer;">(000) 000-0000</a></li>
              <li class="icon solid fa-envelope"><a style="cursor: pointer;">info@untitled.tld</a></li>
           </ul>
           <p class="copyright">© Untitled. All rights reserved.</p>
        </footer>
     </div>
  </div>
</div>